html, body {
	margin: 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white-rounded {
    margin: 20px;
    padding: 8px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 3px 9px 0px rgba(0,0,0, 0.3);
}

#toolbar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
}
#toolbar {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}
.toolbar-item {
    width: 40px;
    height: 40px;
}

#files {
	background-color: #fff;
	border-radius:20px;
	box-shadow:0 0 35px rgba(0,0,0,0.05);
	width:400px;
	padding:60px 40px;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}
#files:hover {
	box-shadow:0 0 45px rgba(0,0,0,0.1);
}
#files.dragover {
    background: blue !important;
}
#image-preview {
	margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
	position:relative;
	margin-right: 13px;
	margin-bottom: 13px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}

#draggable {
	height: 100px; 
	width: 100px; 
	background: coral
}
.placeholder {
	height: 100px;
	width: 100px;
	background-color: aquamarine;
}

#gestures {
	height: 200px; 
	background: cornsilk;
}

#pen {
	height: 200px; 
	background: lightgrey;
}